.breadcrumb-nav {
  justify-content: space-between;
  align-items: center;
  height: 0;
  padding: 0;
  background-color: rgba(1, 52, 105, 0.1);
  border-top: 1px solid rgba(46, 53, 62, 0.05);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;

  .breadcrumb-main-link {
    margin-left: 125px;
    font-size: 1.325rem;

    @include max(1350px) {
      font-size: 1.25rem;
    }

    @include max($lg) {
      font-size: 1.15rem;
    }

    @include max($md) {
      margin-left: 32px;
    }
  }

  .breadcrumb-links {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      font-size: 1rem;
      color: $dark;
      pointer-events: auto;

      &:after {
        content: '';
        height: 2px;
        width: 0;
        background-color: $blue;
        position: absolute;
        bottom: -17px;
        left: 0;
        transition: 0.3s;
      }

      &:hover:after {
        width: 100%;
      }

      &.is-open:after {
        width: 100%;
      }

      @include max($lg) {
        font-size: 0.85rem;
      }
    }

    li {
      position: relative;
      display: inline-block;
      list-style-type: none;
      margin: 0 1.5rem;

      .nested-nav {
        position: absolute;
        left: -35px;
        top: 100%;
        min-width: 100%;
        width: 235px;
        margin-top: 17px;
        padding: 1.25rem 0;
        background: $blue;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        z-index: 52;
        opacity: 0;
        transition: all 0.3s;
        pointer-events: none;

        li {
          display: block;
          margin: 0.65rem 0;
          padding-left: 2rem;

          a {
            display: block;
            font-size: 1rem;
            font-weight: 300;
            color: $white;
            opacity: 0.8;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
              opacity: 1;
            }
          }

          &.js-pointer-events {
            pointer-events: auto;
          }
        }

        &.is-open {
          opacity: 1;
        }
      }

      &:last-child {
        margin-right: 2.5rem;
      }
    }
  }

  &.js-open {
    display: flex;
    height: 30px;
    opacity: 1;
    visibility: visible;
    height: 55px;

    @include max($sm) {
      display: none;
    }
  }

  &.js-close {
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}
