.navbar {
  @apply flex items-center justify-between shadow px-8 py-4;
  background: linear-gradient(90deg, #e0b6f9 0%, #a18aff 60%, #6d5dfc 100%);
  /* border-bottom: 2px solid #a18aff; */
}
.navbarLeft {
  @apply flex items-center gap-4;
}
.navbarLogo {
  height: 46px;
  width: auto;
  vertical-align: middle;
}
.logoLink {
  display: flex;
  align-items: center;
}
.navbarRight {
  @apply flex items-center gap-6;
}
.navbarLink {
  @apply text-white no-underline ml-6 font-medium transition-colors duration-200 text-xl;
}
.navbarLink:hover {
  @apply text-white;
}
