// -----------------------------------------------------------------------------
//! Fonts
// -----------------------------------------------------------------------------

$font-primary: 'omnes-pro', sans-serif;
$font-secondary: 'roboto-slab', serif;

// -----------------------------------------------------------------------------
//! Colors
// -----------------------------------------------------------------------------

$gray: #464646;
