.calculator[data-completed='false'] {
  form {
    display: none !important;
  }

  .incomplete-text {
    display: block;
  }
}

.calculator-tab {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.31rem 1.81rem;
  background-color: #fff;
  color: #1c191a;

  .calculator-icon {
    font-family: $font-secondary;
    font-size: 1.375rem;
    font-weight: 400;
    color: #1c191a;
  }

  + .incomplete-text {
    display: none;
    background-color: #fff;
    padding: 1.875rem 1.625rem;

    p {
      max-width: 65%;
    }
  }

  &.summary-tab {
    .flash-message {
      margin: 0;
    }

    .calculator-icon {
      &:before {
        content: '';
        display: inline-block;
        width: 35px;
        height: 32px;
        margin-right: 1.25rem;
        vertical-align: bottom;
        background: url('../img/icons/results.svg') 50%;
        background-size: cover;
      }
    }

    &:before {
      content: '';
      width: 5px;
      height: 35px;
      background-color: #b5e768;
      background-image: linear-gradient(-180deg, #b5e768 0%, #7ecb37 100%);
      position: absolute;
      left: 0;
      top: 19px;
    }
  }

  &.profitability-tab {
    .calculator-icon {
      &:before {
        content: '';
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 1.25rem;
        vertical-align: bottom;
        background: url('../img/icons/piggy-bank.svg') 50%;
        background-size: contain;
      }
    }

    &:before {
      content: '';
      width: 5px;
      height: 35px;
      background-color: #ad81b5;
      background-image: linear-gradient(-180deg, #ad81b5 0%, #90489c 100%);
      position: absolute;
      left: 0;
      top: 19px;
    }
  }

  &.bizdev-tab {
    .calculator-icon {
      &:before {
        content: '';
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 1.25rem;
        vertical-align: bottom;
        background: url('../img/icons/chart.svg') 50%;
        background-size: contain;
      }
    }

    &:before {
      content: '';
      width: 5px;
      height: 35px;
      background-color: #ffb600;
      background-image: linear-gradient(-180deg, #ffb600 0%, #ff8a00 100%);
      position: absolute;
      left: 0;
      top: 19px;
    }
  }

  &.utilization-tab {
    .calculator-icon {
      &:before {
        content: '';
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 1.25rem;
        vertical-align: bottom;
        background: url('../img/icons/pie-chart.svg') 50%;
        background-size: contain;
      }
    }

    &:before {
      content: '';
      width: 5px;
      height: 35px;
      background-color: #00c2e2;
      background-image: linear-gradient(-180deg, #00c2e2 0%, #0099d9 100%);
      position: absolute;
      left: 0;
      top: 19px;
    }
  }
}

.results-summary {
  background-color: #fff;
}

.calculator-summary-wrap {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0;
}

.calculator-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.81rem;

  .left {
    font-size: 1.125rem;
  }

  .right.not-calculated {
    font-size: 0.9375rem;

    a {
      color: #007cbc;
      font-weight: 500;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }

  .right.calculated {
    font-size: 1.375rem;
    font-weight: 500;
  }
}
